fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
motor>=3.6
pymongo>=4.9
openai
google-generativeai
faster-whisper
gtts
pyttsx3
httpx
python-dotenv
setuptools
python-jose[cryptography]
passlib[bcrypt]
bcrypt
edge-tts
